<div class="row">        <!-- first two days -->
  <div class="col-md-12"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>13:00-13:30</td>
        <td>Why Make Interactive Visualizations / Data Wrangling</td>
      </tr>
      <tr>
        <td>13:30-14:00</td>
        <td>Creating Visualizations</td>
      </tr>
      <tr>
        <td>14:00-14:30</td>
        <td>Creating the Application</td>
      </tr>
      <tr>
        <td>14:30-15:00</td>
        <td>Refactoring Code For flexability</td>
      </tr>
      <tr>
        <td>15:00-15:30</td>
        <td>Adding Widgets to the App</td>
      </tr>
      <tr>
        <td>15:30-16:00</td>
        <td>Publishing Your App</td>
      </tr>
      <tr>>
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
